
body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	max-height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-rendering: geometricPrecision;
	font-family: sans-serif;
}

.webcamContainer {
	flex: 0 0 50vh;
	display: flex;
	padding: 0.5rem;
	padding-bottom: 0;
	justify-content: center;
}

.webcam {
	flex: 1;
	position: relative;
	margin: 0.5rem;
	margin-bottom: 0;
	box-shadow: 0 0 11px 0 rgba(0,0,0,0.5);
	max-height: calc(50vh - 0.5rem);
	min-height: calc(50vh - 0.5rem);
	max-width: calc(50vh * 1.31);
	min-width: calc(50vh * 1.31);
}

.webcam img {
	position: absolute;
	max-height: calc(50vh - 0.5rem);
	min-height: calc(50vh - 0.5rem);
	max-width: calc(50vh * 1.31);
	min-width: calc(50vh * 1.31);
}

.buttonContainer {
	padding: 0.5rem;
	flex: 0 0 50vh;
	overflow: scroll;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.button {
	flex: 1;
	margin: 0.5rem;
	padding: 20vh 0;
	border: 0;
	font-size: 2rem;
	background: #1565C0;
	color: white;
	font-weight: bold;
	box-shadow: 0 0 11px 0 rgba(0,0,0,0.5);
	outline: none;
}

.button:hover {
	background: #1976D2;
}

.button:active {
	background: #0D47A1;
}
